streamlit
torch
torch.optim                                            
numpy                                                      
pandas                                                    
matplotlib                                                                   
bs4
